
<div class="outer">

  <div class="backtoview">
    <button mat-raised-button class="btn-p" (click)="backtoview()">
      <mat-icon>arrow_back</mat-icon>
      Back to View
    </button>
  </div>
  <p> Diagnosis Details </p>
  <div class="outer-inner">

    <div class="img-section">
      <!--            <img *ngIf="doctor.employee.photo" src="assets/my-img/appointment.jpg" alt="doctor photo">-->
      <img [src]="imagediagnosispurl" alt="appointment">
    </div>
    <div class="main-section">
      <div class="when-outer">
        <div class="when">
          <h2>{{patient.name}}</h2>


          <table>
            <tr>
              <td><p> Date of Birth </p>:</td>
              <td><p>{{ patient.dob }}</p></td>
            </tr>
            <tr>
              <td><p> NIC </p>:</td>
              <td><p>{{ patient.nic}}</p></td>
            </tr>
            <tr>
              <td><p> Contact Number </p>:</td>
              <td><p>{{ patient.contactnumber }}</p></td>
            </tr>
            <tr>
              <td><p> Status </p>:</td>
              <td><p>{{ patient.patientstatus.name }}</p></td>
            </tr>
            <tr>
            <td><p> Gender  </p>:</td>
            <td><p>{{ patient.gender.name }}</p></td>
          </tr>
            <tr>
              <td><p> Blood Group  </p>:</td>
              <td><p>{{ patient.bloodgroup.name }}</p></td>
            </tr>
            <tr>
              <td><p> Email </p>:</td>
              <td><p>{{ patient.email }}</p></td>
            </tr>

          </table>
        </div>

      </div>
    </div>
    <div class="left-details">
      <h2>Guardian Informations</h2>


      <table>
        <tr>
          <td><p> Family Nmae </p>:</td>
          <td><p>{{ patient.family.name }}</p></td>
        </tr>
        <tr>
          <td><p> Relationship </p>:</td>
          <td><p>{{ patient.relationship.name }}</p></td>
        </tr>
<!--        <tr>-->
<!--          <td><p> Province </p>:</td>-->
<!--          <td><p> {{ patient.family.district.province.name }} </p></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td><p> District </p>:</td>-->
<!--          <td><p>{{ patient.family.district.name }}</p></td>-->
<!--        </tr>-->
        <tr>
          <td><p> Address </p>:</td>
          <td><p>{{ patient.family.address}}</p></td>
        </tr>
        <tr>
          <td><p> Mobile </p>:</td>
          <td><p>{{ patient.family.mobile }}</p></td>
        </tr>
        <tr>
          <td><p> Land </p>:</td>
          <td><p>{{ patient.family.land }}</p></td>
        </tr>
      </table>
    </div>
    <div class="main-details">
      <div class="when-outer">
        <div class="when">

          <div class="effect-outer">
            <h2>Risk Factors</h2>
            <div class="effects">
              <p>{{ patient.patientriskfactors.length == 0  ? "There are no Allergies to show": "" }}</p>
              <div class="effect" *ngFor="let ad of patient.patientriskfactors;let i = index;">
                <p><span>{{ i + 1 }} ) </span> {{ ad.riskfactor.name }}</p>
              </div>
            </div>
          </div>

<!--          <div class="effect-outer">-->
<!--            <h2>Diseases</h2>-->
<!--            <div class="effects">-->
<!--              <p>{{ diagnosis.diseasediagnoses.length == 0  ? "There are no Diseases to show": "" }}</p>-->

<!--              <div class="effect" *ngFor="let ad of diagnosis.diseasediagnoses;let i = index;">-->
<!--                <p><span>{{ i + 1 }} ) </span> {{ ad.disease.name }}</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->


<!--          <div class="effect-outer">-->
<!--            <h2> Diagnosis Symptoms </h2>-->
<!--            <div class="effects">-->
<!--              <p>{{ diagnosis.symptomsdiagnoses.length == 0  ? "There are no Symptoms to show": "" }}</p>-->
<!--              <div class="effect" *ngFor="let ad of diagnosis.symptomsdiagnoses;let i = index;">-->
<!--                <p><span>{{ i + 1 }} ) </span> {{ ad.symptoms.name }}</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

          <!--                  <p>  Name : <span>{{ appointment.family.name }}</span> </p>-->
          <!--                  &lt;!&ndash;          <p>  Doctor Grade :<span> {{   doctor.doctorgrade.name }}</span></p>&ndash;&gt;-->
          <!--                  <p> Relationship :<span> {{   appointment.relationship.name }}</span></p>-->
          <!--                  &lt;!&ndash;          <span > Age {{   doctor.employee.dobirth }}</span>&ndash;&gt;-->
          <!--                  <p> Province :<span> {{ appointment.family.district.province.name }}</span></p>-->
          <!--                  <p> District :<span> {{ appointment.family.district.name }}</span></p>-->
          <!--                  <p> Addresss :<span> {{ appointment.family.address }}</span></p>-->
          <!--                  <p> Mobile :<span> {{ appointment.family.mobile }}</span></p>-->
          <!--                  <p> Land :<span> {{ appointment.family.land }}</span></p>-->
          <!--          <p> Map Location :<span> {{ appointment.gender.name }}</span></p>-->
        </div>

      </div>

    </div>
    <div class="additional-details">

      <!--      <div class="aditional-card">-->
      <!--        <div class="ad-name">Diabetic</div>-->
      <!--        <div class="level"></div>-->
      <!--        <div class="da-degree"> </div>-->
      <!--      </div>-->
      <!--      <div class="aditional-card">-->
      <!--        <div class="ad-name">Alchohol</div>-->
      <!--        <div class="level"></div>-->
      <!--        <div class="da-degree"> </div>-->
      <!--      </div>-->
      <!--      <div class="aditional-card">-->
      <!--        <div class="ad-name">Overweight</div>-->
      <!--        <div class="level"></div>-->
      <!--        <div class="da-degree"> </div>-->
      <!--      </div>-->
      <!--      <div class="aditional-card">-->
      <!--        <div class="ad-name">Diabetic</div>-->
      <!--        <div class="level"></div>-->
      <!--        <div class="da-degree"> </div>-->
      <!--      </div>-->
    </div>

    <div class="btn-section">
      <button mat-raised-button (click)="updateform()">Update</button>
    </div>
  </div>

</div>

<!--<div class="outer">-->

<!--  <div class="backtoview">-->
<!--    <button mat-raised-button class="btn-p" (click)="backtoview()"><mat-icon>arrow_back</mat-icon>Back to View</button>-->
<!--  </div>-->
<!--  <p> Doctor Details </p>-->
<!--  <div class="outer-inner">-->

<!--    <div class="img-section">-->
<!--&lt;!&ndash;            <img *ngIf="doctor.employee.photo" src="assets/my-img/patient.jpg" alt="doctor photo">&ndash;&gt;-->
<!--      <img  src="{{patient.photo ? patient.photo : 'assets/my-img/patient.jpg'}}" alt="patient">-->
<!--    </div>-->
<!--    <div class="main-section">-->
<!--      <div class="when-outer">-->
<!--        <div class="when">-->

<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--    <div class="left-details">-->
<!--      <div class="details">-->
<!--&lt;!&ndash;        <h3> Contact Informations</h3>&ndash;&gt;-->
<!--&lt;!&ndash;        <span> Email : {{ patient.email }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;        <span> Address : {{ patient.family.address }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;        <span> mobile : {{ patient.family.address }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;        <span> Address : {{ patient.family.address }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;        <span> Address : {{ patient.family.address }}</span>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="main-details">-->
<!--      <div class="when-outer">-->
<!--        <div class="when">-->
<!--          <h2>Guardian Informations</h2>-->


<!--          <table>-->
<!--            <tr>-->
<!--              <td><p> Family Nmae </p>:</td>-->
<!--              <td><p>{{ patient.family.name }}</p></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td><p> Relationship </p>:</td>-->
<!--              <td><p>{{ patient.relationship.name }}</p></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td><p> Province </p>:</td>-->
<!--              <td><p>{{ patient.family.district.province.name }}</p></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td><p> District </p>:</td>-->
<!--              <td><p>{{ patient.family.district.name }}</p></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td><p> Address </p>:</td>-->
<!--              <td><p>{{ patient.family.address}}</p></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td><p> Mobile </p>:</td>-->
<!--              <td><p>{{ patient.family.mobile }}</p></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td><p> Land </p>:</td>-->
<!--              <td><p>{{ patient.family.land }}</p></td>-->
<!--            </tr>-->
<!--          </table>-->
<!--          &lt;!&ndash;          <p> Map Location :<span> {{ patient.gender.name }}</span></p>&ndash;&gt;-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->
<!--    <div class="additional-details">-->

<!--      <div class="effect-outer">-->
<!--        <h2>Allergies</h2>-->
<!--        <div class="effects">-->
<!--          <p>{{ patient.patientriskfactors.length == 0  ? "There are no Allergies to show": "" }}</p>-->
<!--          <div class="effect" *ngFor="let ad of patient.patientriskfactors;let i = index;">-->
<!--            <p><span>{{ i + 1 }} ) </span> {{ ad.riskfactor.name }}</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    <div class="btn-section">-->
<!--      <button mat-raised-button  (click)="updateform()">Update</button>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
