<div class="outer">

  <div class="backtoview">
    <button mat-raised-button class="btn-p" (click)="backtoview()"><mat-icon>arrow_back</mat-icon>Back to View</button>
  </div>
  <p> Doctor Details </p>
  <div class="outer-inner">

    <div class="img-section">
<!--            <img *ngIf="doctor.employee.photo" src="assets/my-img/patient.jpg" alt="doctor photo">-->
      <img  src="{{patient.photo ? patient.photo : 'assets/my-img/patient.jpg'}}" alt="patient">
    </div>
    <div class="main-section">
      <div class="when-outer">
        <div class="when">
          <h2>{{ patient.name }}</h2>
          <p>  Age : <span>{{ age }}</span> </p>
          <!--          <p>  Doctor Grade :<span> {{   doctor.doctorgrade.name }}</span></p>-->
          <p> NIC :<span> {{   patient.nic }}</span></p>
          <!--          <span > Age {{   doctor.employee.dobirth }}</span>-->
          <p> Blood Group  :<span> {{ patient.bloodgroup.name }}</span></p>
          <p> Gender :<span> {{ patient.gender.name }}</span></p>
        </div>

      </div>
    </div>
    <div class="left-details">
      <div class="details">
        <h3> Contact Informations</h3>
        <span> Email : {{ patient.email }}</span>
        <span> Address : {{ patient.family.address }}</span>
        <span> mobile : {{ patient.family.address }}</span>
        <span> Address : {{ patient.family.address }}</span>
        <span> Address : {{ patient.family.address }}</span>
      </div>
    </div>
    <div class="main-details">
      <div class="when-outer">
        <div class="when">
          <h2>Guardian's Informations</h2>
          <p>  Name : <span>{{ patient.family.name }}</span> </p>
          <!--          <p>  Doctor Grade :<span> {{   doctor.doctorgrade.name }}</span></p>-->
          <p> Relationship :<span> {{   patient.relationship.name }}</span></p>
          <!--          <span > Age {{   doctor.employee.dobirth }}</span>-->
          <p> Province :<span> {{ patient.family.district.province.name }}</span></p>
          <p> District :<span> {{ patient.family.district.name }}</span></p>
          <p> Addresss :<span> {{ patient.family.address }}</span></p>
          <p> Mobile :<span> {{ patient.family.mobile }}</span></p>
          <p> Land :<span> {{ patient.family.land }}</span></p>
          <!--          <p> Map Location :<span> {{ patient.gender.name }}</span></p>-->
        </div>

      </div>

    </div>
    <div class="additional-details">

      <div class="aditional-card">
        <div class="ad-name">Diabetic</div>
        <div class="level"></div>
        <div class="da-degree"> </div>
      </div>
      <div class="aditional-card">
        <div class="ad-name">Alchohol</div>
        <div class="level"></div>
        <div class="da-degree"> </div>
      </div>
      <div class="aditional-card">
        <div class="ad-name">Overweight</div>
        <div class="level"></div>
        <div class="da-degree"> </div>
      </div>
      <div class="aditional-card">
        <div class="ad-name">Diabetic</div>
        <div class="level"></div>
        <div class="da-degree"> </div>
      </div>
    </div>

    <div class="btn-section">
      <button mat-raised-button  (click)="updateform()">Update</button>
    </div>
  </div>

</div>
