.outer{
  margin: 2rem;
  text-align: center;
}

mat-card {
  width: 100%;
  height:100%;
  padding: 2rem;
  background: transparent;

}
mat-grid-tile-content{
  margin: 0rem 1rem !important;
}

mat-form-field {
  margin: 1rem !important;
}

mat-card-content { overflow: auto; height: 100%; }

/*mat-card-header { background: #c0d9c3; }*/

#loading img{ width: 30px; height: 25px; margin-left: 200px;}


/* Employee Form */
#clinicform {
  padding-top: 20px;
}


/* Employee Form > Photo Panel  */
#imgpanel {
  /*display: flex;*/
  height: 200px;
  margin-bottom: 30px;
}

#imgpanel img{
  height: 200px;
  width: 200px;
}
.img-outer{
  display: flex;
  flex-direction: column;;
}

#selectbutton, #clearbutton{
  width: 150px;
  display: block;
  margin-left: 200px;
  margin-bottom: 5px;
  background-color: darkolivegreen;
  color: white;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}

#selectbutton{
  margin-top: -100px;
}


/* Employee Form > Button Panel  */
#butpanel{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 30px;
}

#butpanel button{
  width: 82px;
  margin:3px;
  background-color: var(--theme-primary);
  color: white;
}


.selected-row{
  background-color: #c9e6ff!important;
}

.mat-row:hover {
  background-color: inherit!important;
}

#employeeform mat-form-field .ng-dirty{
  background-color: gold;
}


button:disabled {
  opacity: 0.5;
}

#employeeform mat-form-field .ng-valid,
.ng-valid.required {
  background-color: lightgreen;
}



.form-title{
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1rem;
  color:var(--theme-primary)
}
.backtoview{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flile-selector{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}



.listtrnasfer {
  display: flex;
  margin-bottom: 30px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.listransfer-body{
  display: inline-flex;
}
.listransfer-header p{
  font-size: 1rem;
  font-weight: 500;
}


.pnlmiddle button{ margin: 8px; display: block!important;}

.list{
  /*display: flex;*/
  /*justify-content: space-between;*/
  border: solid gray;
  border-radius: 5px;
  max-height: 160px;
  width:300px;
  margin-top: 10px;
  overflow: auto
}



#innertable{
  /*background-color: #acf1eb;*/

}

.edu-group{
  display: flex;
  align-items: center;
  justify-content: center;
  /*flex-direction: column;*/
  flex-wrap: wrap;
  gap: 1rem;
}

.edu{
  background-color: #dff6f4;
  padding: 2rem;
  border-radius: 10px;
}
.edu-group mat-form-field{
  width: 300px;
}
#btnAdd{
  width: 20%;
  color: #FFFFFF;
  background-color: var(--theme-primary);
  margin-bottom: 1rem;
}
