mat-card {
  width: 30%;
  border: #003300;
  box-shadow: black 2px 2px 15px;
}


mat-card-header {
  /*background: #003300;*/
  background: #2339c7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

mat-card-title img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26.5rem;
  height: 100%;
  text-align: center;
}

mat-card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card-title p {
  color: #3648af;
  text-align: center;
  font-size: 2rem;
  border: 1px solid white;
  padding: 5px;
  /*filter: drop-shadow(0 0 1rem #ffffff);*/
  /*-webkit-box-reflect: below 1px -webkit-linear-gradient(transparent ,#3648af );*/
}
mat-card-title span {
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  filter: drop-shadow(0 0 1rem #000000);
}

mat-card-content {
  padding: 10%;
}

mat-card-actions {
  child-align: middle !important;
}

mat-card-actions button:nth-child(2) {
  margin-left: 10px;
}

button {
  color: white !important;
}

button[btn-a] {
  background: var(--secondary-color) !important;

}

button[btn-b] {
  background: var(--primary-color) !important;
}



