<mat-grid-list [cols]="12" rowHeight="4rem">

  <mat-grid-tile [colspan]="4" [rowspan]="10">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Clinic Detail</mat-card-title>
      </mat-card-header>
      <mat-card-content id="clinicform">
      <form [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label>Select a Clinictype</mat-label>
          <mat-select formControlName="clinictype">
<!--            <mat-option [value]="null">Not Selected</mat-option>-->
            <mat-option *ngFor="let clinictype of clinictypes" [value]="clinictype" >{{clinictype.name}}</mat-option>
          </mat-select>

        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Select Doctor</mat-label>
          <mat-select formControlName="doctor">
<!--            <mat-option [value]="null">Not Selected</mat-option>-->
            <mat-option *ngFor="let doctor of doctorByClinictype" [value]="doctor" >{{doctor.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nurse</mat-label>
          <mat-select formControlName="nurse1">
            <mat-option *ngFor="let nurse of nurses" [value]="nurse" >{{nurse.callingname}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Assistant Nurse</mat-label>
          <mat-select formControlName="nurse2">
            <mat-option *ngFor="let nurse of nurses" [value]="nurse" >{{nurse.callingname}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Assign an Employee</mat-label>
          <mat-select formControlName="employee">
            <mat-option *ngFor="let employee of employees" [value]="employee" >{{employee.callingname}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Selet a Date for Clinic</mat-label>
          <input matInput  [matDatepicker]="clinicdate" formControlName="date">
          <mat-datepicker-toggle matIconSuffix [for]="clinicdate"></mat-datepicker-toggle>
          <mat-datepicker #clinicdate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Start Time</mat-label>
          <input type="text" placeholder="12:00:00" matInput formControlName="starttime">
<!--          <mat-hint>12:00:00</mat-hint>-->
<!--          <input type="time" id="appt" name="appt"  matInput formControlName="starttime">-->
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>End Time</mat-label>
          <input type="text" placeholder="12:00:00" matInput formControlName="endtime">
<!--          <mat-hint>12:00:00</mat-hint>-->
<!--          <input type="time" id="appt2" name="appt2"  matInput formControlName="endtime">-->
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Patient Count</mat-label>
          <input type="number" matInput formControlName="patientcount">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Doctor Payment</mat-label>
          <input type="number" matInput formControlName="doctorpayment">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Total Income</mat-label>
          <input type="number" matInput formControlName="totalincome">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Clinic Status</mat-label>
          <mat-select formControlName="clinicstatus">
            <mat-option [value]="null">Not Selected</mat-option>
            <mat-option *ngFor="let clinicstatus of clinicstatuses" [value]="clinicstatus" >{{clinicstatus.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Date of Published</mat-label>
          <input matInput [matDatepicker]="dateofpublished" formControlName="dopublish">
          <mat-datepicker-toggle matIconSuffix [for]="dateofpublished"></mat-datepicker-toggle>
          <mat-datepicker #dateofpublished></mat-datepicker>
        </mat-form-field>


        <div id="butpanel">
          <button mat-raised-button  (click)="add()" [disabled]="!enaadd">Add</button>
          <button mat-raised-button (click)="clear()">Clear</button>
          <button mat-raised-button (click)="update()" [disabled]="!enaupd">Update</button>
          <button mat-raised-button  (click)="delete()" [disabled]="!enadel">Delete</button>
        </div>

      </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="8" [rowspan]="4">
    <mat-card id="ssearch">
      <mat-card-header>
        <mat-card-title>Clinic Search</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="ssearch" >
          <mat-form-field appearance="outline">
            <mat-label>Search By Doctor Name</mat-label>
            <input  matInput formControlName="ssdname" >
          </mat-form-field>

          <mat-form-field appearance="outline">
              <mat-label>Search By Clinic Status</mat-label>
            <mat-select formControlName="ssclinicstatus">
              <mat-option [value]="null">Not Selected</mat-option>
              <mat-option *ngFor="let clinicstatus of clinicstatuses" [value]="clinicstatus.name" >{{clinicstatus.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search By Clinic Type</mat-label>
            <mat-select formControlName="ssclinictype">
              <mat-option [value]="null" >Not Selected</mat-option>
              <mat-option *ngFor="let clinictype of clinictypes" [value]="clinictype.name" >{{clinictype.name}}</mat-option>
            </mat-select>
          </mat-form-field>


          <div>
            <button mat-raised-button color="primary" (click)="btnSearchSS()"><mat-icon>search</mat-icon>Serch</button>
            <button mat-raised-button color="primary" (click)="btnSSearchClear()"><mat-icon>reorder</mat-icon>Clease Search</button>
          </div>


        </form>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="8" [rowspan]="6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Clinic Table</mat-card-title>
        <div id="loading">
          <img [src]="imageurl">
        </div>
      </mat-card-header>

      <mat-card-content>

        <mat-table [dataSource]="data">

          <ng-container *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef> {{headers[i]}} </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ uiassist.getProperty(element, binders[i]) }} </mat-cell>
          </ng-container>

          <ng-container *ngFor="let cscolumn of cscolumns;let i = index;" [matColumnDef]="cscolumn">
            <mat-header-cell *matHeaderCellDef>
              <mat-form [formGroup]="csearch" class="csearch">
                <mat-form-field appearance="outline">
                  <mat-label>{{csprompts[i]}}</mat-label>
                  <input matInput [formControlName]="cscolumn"   (keyup)="filterTable()">
                </mat-form-field>
              </mat-form>
            </mat-header-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-header-row *matHeaderRowDef="cscolumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns;" (click)="fillForm(row)" [ngClass]="{'selected-row': row === selectedrow}" ></mat-row>

        </mat-table>

        <mat-paginator [length]="20" [pageSize]="3" [pageSizeOptions]="[3,5,10,20]"></mat-paginator>

      </mat-card-content>

    </mat-card>
  </mat-grid-tile>

</mat-grid-list>




