<div class="banner"  style="background-image: url('assets/my-img/section-background.jpg'); height:12rem; margin: 1rem; border-radius: 10px; background-size: contain; ">
<!--  <div class="nav-card">-->
<!--    <a routerLink="main/appointment">-->
<!--      <div class="nav-card-outer">-->
<!--        <div class="nav-img-outer"><img src="assets/my-img/nav/appointment.png"></div>-->
<!--        <div class="nav-footer">-->
<!--          <p> Appointment </p><mat-icon>arrow_right_alt</mat-icon>-->
<!--        </div>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
</div>

<div class="nav-card-outer" style="margin: 2rem 0">
<!--     style="background-image: url('assets/my-img/section-background.jpg'); border-radius: 10px; background-size: contain; "-->
  <div class="card-navigation">
    <div class="nav-card">
      <a routerLink="../appointment">
        <div class="nav-card-outer">
          <div class="nav-img-outer"><img src="assets/my-img/nav/appointment.png"></div>
          <div class="nav-footer">
            <p> Appointment </p><mat-icon>arrow_right_alt</mat-icon>
          </div>
        </div>
      </a>
    </div>

    <div class="nav-card">
      <a routerLink="../drug">
        <div class="nav-card-outer">
          <div class="nav-img-outer"><img src="assets/my-img/nav/warehouse-pharmacy.jpg"></div>
          <div class="nav-footer">
            <p> Drugs </p><mat-icon>arrow_right_alt</mat-icon>
          </div>
        </div>
      </a>
    </div>

    <div class="nav-card">
      <a routerLink="../doctor">
        <div class="nav-card-outer">
          <div class="nav-img-outer"><img src="assets/my-img/nav/doctor.jpg"></div>
          <div class="nav-footer">
            <p> Doctor </p><mat-icon>arrow_right_alt</mat-icon>
          </div>
        </div>
      </a>
    </div>

    <div class="nav-card">
      <a routerLink="../clinic">
        <div class="nav-card-outer">
          <div class="nav-img-outer"><img src="assets/my-img/nav/clinic-schedule.jpg"></div>
          <div class="nav-footer">
            <p> Clinic Schedule </p><mat-icon>arrow_right_alt</mat-icon>
          </div>
        </div>
      </a>
    </div>

    <div class="nav-card">
      <a routerLink="../report">
        <div class="nav-card-outer">
          <div class="nav-img-outer"><img src="assets/my-img/nav/reports.jpg"></div>
          <div class="nav-footer">
            <p> Reports </p><mat-icon>arrow_right_alt</mat-icon>
          </div>
        </div>
      </a>
    </div>

    <div class="nav-card">
      <a routerLink="../payment">
        <div class="nav-card-outer">
<!--          <div class="nav-footer">-->
<!--&lt;!&ndash;            <p> Payments </p><mat-icon>arrow_right_alt</mat-icon>&ndash;&gt;-->
<!--          </div>-->
          <div class="nav-img-outer"><img src="assets/my-img/nav/payment.jpg"></div>
          <div class="nav-footer">
            <p> Payments </p><mat-icon>arrow_right_alt</mat-icon>
          </div>
        </div>
      </a>
    </div>

    <!--    <div class="nav-card">-->
    <!--      <div  class="nav-img-outer"><img src="assets/my-img/payment.jpg"></div>-->
    <!--      <div class="nav-footer"><a routerLink="payments">Payments</a></div>-->
    <!--    </div>-->


    <!--      <mat-card>-->
    <!--        <mat-card-content><img src="assets/my-img/register.jpg"></mat-card-content>-->
    <!--        <mat-card-footer><a routerLink="batchregistration">Register</a></mat-card-footer>-->
    <!--      </mat-card>-->

    <!--      <mat-card>-->
    <!--        <mat-card-content><img src="assets/my-img/doctor.jpg"></mat-card-content>-->
    <!--        <mat-card-footer><a routerLink="doctor">Doctor</a></mat-card-footer>-->
    <!--      </mat-card>-->

    <!--      <mat-card>-->
    <!--        <mat-card-content><img src="assets/my-img/patient.jpg"></mat-card-content>-->
    <!--        <mat-card-footer><a routerLink="patient">Patient</a></mat-card-footer>-->
    <!--      </mat-card>-->

    <!--      <mat-card>-->
    <!--        <mat-card-content><img src="assets/my-img/appointment.jpg"></mat-card-content>-->
    <!--        <mat-card-footer><a routerLink="books">Appointments</a></mat-card-footer>-->
    <!--      </mat-card>-->

    <!--      <mat-card>-->
    <!--        <mat-card-content><img src="assets/attendence.png"></mat-card-content>-->
    <!--        <mat-card-footer><a routerLink="attendance">Attendance</a></mat-card-footer>-->
    <!--      </mat-card>-->

  </div>
</div>
<mat-grid-list gutterSize="7" [cols]="4" rowHeight="4rem">

  <!--  <mat-grid-tile [colspan]="4" [rowspan]="2" >-->
  <!--    <mat-card style="background-image: url('assets/my-img/banner/banner-background2.jpg'); background-size: contain ">-->
  <!--      <div class="logo-back" style="display: flex; align-items: center; justify-content: center; ">-->
  <!--        <img id="headImg" src="assets/my-img/logo-with.png">-->
  <!--        <div class="logo-left-section" >-->
  <!--          <p>Pannipitiya Private Hospital (PPH)</p>-->
  <!--          <span>( Nursing Home )</span>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </mat-card>-->
  <!--  </mat-grid-tile>-->


  <!--  <mat-grid-tile [colspan]="4" [rowspan]="4" >-->
  <!--    <mat-grid-list [cols]="4" rowHeight="4rem" >-->
  <!--      <mat-grid-tile>-->
  <!--        <div class="card-nav">-->
  <!--          <img src="" alt="">-->
  <!--          <div class="card-nav-footer">-->

  <!--          </div>-->
  <!--        </div>-->
  <!--      </mat-grid-tile>-->
  <!--      <mat-grid-tile>-->
  <!--        <div class="card-nav">-->
  <!--          <img src="" alt="">-->
  <!--          <div class="card-nav-footer">-->

  <!--          </div>-->
  <!--        </div>-->
  <!--      </mat-grid-tile>-->
  <!--      <mat-grid-tile>-->
  <!--        <div class="card-nav">-->
  <!--          <img src="" alt="">-->
  <!--          <div class="card-nav-footer">-->

  <!--          </div>-->
  <!--        </div>-->
  <!--      </mat-grid-tile>-->
  <!--      <mat-grid-tile>-->
  <!--        <div class="card-nav">-->
  <!--          <img src="" alt="">-->
  <!--          <div class="card-nav-footer">-->
  <!--              <p>Doctor -> </p>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </mat-grid-tile>-->
  <!--      <mat-grid-tile>-->
  <!--        <div class="card-nav">-->
  <!--          <img src="" alt="">-->
  <!--          <div class="card-nav-footer">-->

  <!--          </div>-->
  <!--        </div>-->
  <!--      </mat-grid-tile>-->

  <!--    </mat-grid-list >-->
  <!--    <div class="card-navigation">-->
  <!--      <div class="card-nav">-->
  <!--        <img src="" alt="">-->
  <!--        <div class="card-nav-footer">-->

  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </mat-grid-tile>-->


  <mat-grid-tile [colspan]="2" [rowspan]="4">
    <mat-card>
      <mat-card-title
        style="background-image: url('assets/my-img/banner/banner-background2.jpg'); background-size: contain">User
        Specific Messages
      </mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let message of userspecmessages">
            <mat-icon matListItemIcon> email</mat-icon>
            <div matListItemTitle>{{ message.name }}</div>
            <div matListItemLine>{{ message.updated | date }}</div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="2" [rowspan]="4">
    <mat-card>
      <mat-card-title
        style="background-image: url('assets/my-img/banner/banner-background2.jpg'); background-size: contain">General
        Messages
      </mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let message of generalmessages">
            <mat-icon matListItemIcon> email</mat-icon>
            <div matListItemTitle>{{ message.name }}</div>
            <div matListItemLine>{{ message.updated | date }}</div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
