<mat-grid-list gutterSize="7" [cols]="4" rowHeight="4rem">

  <mat-grid-tile [colspan]="4" [rowspan]="2" >
    <mat-card style="background-image: url('assets/my-img/banner/banner-background2.jpg'); background-size: contain ">
      <div class="logo-back" style="display: flex; align-items: center; justify-content: center; ">
        <img id="headImg" src="assets/my-img/logo-with.png">
        <div class="logo-left-section" >
          <p>Pannipitiya Private Hospital (PPH)</p>
          <span>( Nursing Home )</span>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="4" [rowspan]="4" id="quicklinks" style="background-image: url('assets/my-img/section-background.jpg'); background-size: contain ">
    <mat-card>
      <mat-card-content><img  src="assets/my-img/payment.jpg"></mat-card-content>
      <mat-card-footer ><a routerLink="payments">Payments</a></mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content><img  src="assets/my-img/register.jpg"></mat-card-content>
      <mat-card-footer ><a routerLink="batchregistration" >Register</a></mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content><img  src="assets/my-img/doctor.jpg"></mat-card-content>
      <mat-card-footer ><a routerLink="students">Doctor</a></mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content><img  src="assets/my-img/patient.jpg"></mat-card-content>
      <mat-card-footer ><a routerLink="classes">Patient</a></mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content><img  src="assets/my-img/appointment.jpg"></mat-card-content>
      <mat-card-footer ><a routerLink="books">Appointments</a></mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content><img  src="assets/attendence.png"></mat-card-content>
      <mat-card-footer ><a routerLink="attendance">Attendance</a></mat-card-footer>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="4" >
    <mat-card>
      <mat-card-title style="background-image: url('assets/header2img.png')">User Specific Messages</mat-card-title>
      <mat-card-content >
        <mat-list>
          <mat-list-item *ngFor="let message of userspecmessages">
            <mat-icon matListItemIcon> email</mat-icon>
            <div matListItemTitle >{{message.name}}</div>
            <div matListItemLine>{{message.updated | date}}</div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="2" [rowspan]="4" >
      <mat-card>
        <mat-card-title style="background-image: url('assets/header2img.png')">General Messages</mat-card-title>
        <mat-card-content >
          <mat-list>
            <mat-list-item *ngFor="let message of generalmessages">
              <mat-icon matListItemIcon> email</mat-icon>
              <div matListItemTitle >{{message.name}}</div>
              <div matListItemLine>{{message.updated | date}}</div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>

</mat-grid-list>
