<div class="outer">

  <div>
    <div class="search">
      <form [formGroup]="serversearch" >
        <div class="ss-container">

          <mat-form-field appearance="outline" style="flex: 1">
            <mat-label>Search By Appointment Type</mat-label>
            <mat-select formControlName="ssappointmenttype">
              <mat-option [value]="null">Not Selected</mat-option>
              <mat-option *ngFor="let appointmenttype of appointmenttypes" [value]="appointmenttype.id">{{ appointmenttype.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search By Appointment Status</mat-label>
            <mat-select formControlName="ssappointmentstatus">
              <mat-option [value]="null">Not Selected</mat-option>
              <mat-option *ngFor="let appointmentstatus of appointmentstatuses" [value]="appointmentstatus.id">{{ appointmentstatus.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search By Clinic Type</mat-label>
            <mat-select formControlName="ssclinictype">
              <mat-option [value]="null">Not Selected</mat-option>
              <mat-option *ngFor="let clinictype of clinictypes" [value]="clinictype.id">{{ clinictype.name }}</mat-option>
            </mat-select>
          </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Appointment Number</mat-label>
              <input type="number" matInput formControlName="ssnumber">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Patient Name</mat-label>
              <input type="text" matInput formControlName="sspatient">
            </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search By Date</mat-label>
            <input matInput [matDatepicker]="dateofpublished" formControlName="ssdate">
            <mat-datepicker-toggle matIconSuffix [for]="dateofpublished"></mat-datepicker-toggle>
            <mat-datepicker #dateofpublished></mat-datepicker>
          </mat-form-field>

        </div>


        <div class="btn-g">
          <button mat-raised-button class="btn-p" (click)="btnSearchMc()"><mat-icon>search</mat-icon>Serch</button>
          <button mat-raised-button class="btn-p" (click)="btnSearchClearMc()"><mat-icon>reorder</mat-icon>Clease Search</button>
        </div>


      </form>

    </div>
    <div>

      <div class="table-header">
        <div class="table-left">
          <span class="title"> Appointment Details</span>

        </div>
        <div class="table-right">
          <button mat-raised-button class="btn-p" [routerLink]="['form']"><mat-icon>add</mat-icon>Add An Appointment</button>
        </div>

      </div>

      <mat-table [dataSource]="data">
        <ng-container  *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
          <div *ngIf="column != 'modi' ">
            <mat-header-cell class="header-row" *matHeaderCellDef> {{headers[i]}} </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ uiassist.getProperty(element, binders[i]) }} </mat-cell>
          </div>
          <div *ngIf="column == 'modi' ">
            <mat-header-cell class="header-row" *matHeaderCellDef> {{headers[i]}} </mat-header-cell>
            <td  mat-cell *matCellDef="let row">
              <button  mat-icon-button color="primary" (click)="viewDetails(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button  mat-icon-button color="warn" (click)="delete(row)">
                <mat-icon>delete</mat-icon>
              </button>
              <button  mat-icon-button  (click)="updateclinic(row)">
                <mat-icon>update</mat-icon>
              </button>
            </td>
          </div>
        </ng-container>



        <ng-container  *ngFor="let cscolumn of cscolumns;let i = index;" [matColumnDef]="cscolumn">
          <mat-header-cell *matHeaderCellDef>
            <form [formGroup]="clinetsearch" class="csearch">
              <mat-form-field style="" appearance="outline">
                <mat-label>{{csprompts[i]}}</mat-label>
                <input matInput [formControlName]="cscolumn"   (keyup)="filterTable()">
              </mat-form-field>
            </form>
          </mat-header-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-header-row *matHeaderRowDef="cscolumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"  [ngClass]="{'selected-row': row === selectedrow}" ></mat-row>
        <!--            <mat-row *matRowDef="let row; columns: columns;" [routerLink]="['details/',]" [ngClass]="{'selected-row': row === selectedrow}" ></mat-row>-->

      </mat-table>

      <mat-paginator [length]="20" [pageSize]="3" [pageSizeOptions]="[3,5,10,20]"></mat-paginator>


    </div>
  </div>


</div>

