/* Tool Bar */

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.toolbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.toolbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.img-logo {
  height: 50px;
  border-radius: 5px;
  margin-left: 10px;
  vertical-align: middle;
}


.btn-nav.mat-mdc-icon-button {
  background-color: #2b3815;
  color: #ffffff;
  vertical-align: middle;
  box-shadow: 1px 1px 6px #333333;
  border: #c0d9c3 solid 2px;
  padding: 10px;
  --mat-mdc-button-ripple-color: rgba(255, 255, 255, 0.2);
}

.lbl-user {
  font-size: 14px;
  color: white;
  margin: 0px 5px 0px 0px;
}

.img-user {
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.btn-logout {
  color: white;
  border-radius: 0px;
  margin: 0px 0px 0px -5px;
}


/* Side Navigation */

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 15%;
}

mat-sidenav a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

mat-sidenav mat-icon {
  font-size: 16px;
  margin: 0px 0px -10px 0px;
}

mat-nav-list mat-list-item {
  height: 35px;
  font-size: 14px;
  padding: 0px 5px 0px 10px;
  border-bottom: #8aa88a 2px solid;
}

mat-nav-list mat-list-item:hover {
  background: #b5d3b5;
}

mat-nav-list mat-expansion-panel {
  box-shadow: none;
  border-radius: unset;
}

mat-nav-list mat-expansion-panel-header {
  height: 35px;
  padding: 0 20px 0 0;
}

mat-nav-list mat-expansion-panel-header:hover {
  background: #b5d3b5 !important;
}

mat-nav-list mat-expansion-panel mat-list-item {
  height: 28px;
}

.logo-back{
  margin-left: 1rem;
  color: #ffffff;
}

.logo-back img{
  height: 3rem;
}

.logo-left-section{
  margin: 2px;
  border-left: 2px solid white;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  margin-left: 1rem;
  justify-content: center;
}

.logo-left-section p:hover{
  /*box-shadow: 0px 0px 100px #ffffff;*/
  filter: shadow(0px 0px 100px #ffffff);
}

.logo-left-section span{
  font-size: 1rem;
  margin: 0;
}
.logo-left-section p{
  font-size: 1.3rem;
  margin: 0;
}

/*custom  theme*/


.outer-container{
  background-color: var(--light-blue);
  padding: 3rem;

}
.main-container{
  display: flex;
  border-radius: 20px;
  background-color: var(--theme-primary);
}

.side-nav{
  flex: 2;
}
.nav-logo{
  margin: 3rem 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.nav-logo p{
  text-align: center;
  color: var(--font-primary);
}

.nav-logo span{
  color: var(--font-primary);
}

.nav-outer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nav-item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0rem;
  color: white;
  /*border-left: 2px solid var(--theme-primary);*/
}
.nav-item:hover{
  border-left: 2px solid var(--font-primary);
  /*border: 1px 0px 1px 2px solid var(--font-primary);*/
}
.nav-item mat-icon{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  color: var(--font-secondary);
}

.nav-item p{
  justify-content: flex-start;
  padding-left: 1rem;
  margin: 0;
  flex: 2;
  font-weight: 400;
  color: var(--font-secondary);
}

.inner-container{
  border-radius: 20px;
  flex: 10;
  background-color: white;
}

.logo-back{
  height: 65px;
  padding: 0.5rem 2rem;
  background-color: rgb(0 0 0 / 36%);
  width: fit-content;
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-left-section{
  border-left: 2px solid white;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  margin-left: 1rem;
  justify-content: center;
}

.logo-left-section p{
  font-size: 1.3rem;
  /*-webkit-box-reflect: below 1px -webkit-linear-gradient(transparent ,#3648af );*/

}
