<div class="outer">

  <div class="backtoview">
    <button mat-raised-button class="btn-p" (click)="backtoview()">
      <mat-icon>arrow_back</mat-icon>
      Back to View
    </button>
  </div>
  <p> Drugs Details </p>
  <div class="outer-inner">

    <div class="img-section">
      <!--            <img *ngIf="doctor.employee.photo" src="assets/my-img/appointment.jpg" alt="doctor photo">-->
      <img [src]="imagedrugpurl" alt="appointment">
    </div>
    <div class="main-section">
      <div class="when-outer">
        <div class="when">
            <h2>{{ drug.name }}</h2>


            <table>
              <tr>
                <td> <p> Drug Code </p>:</td>
                <td> <p>{{ drug.code }}</p></td>
              </tr>
              <tr>
                <td> <p> Strength </p>:</td>
                <td> <p> {{ drug.strength }}</p></td>
              </tr>

              <tr>
                <td>  <p> Quantity on Hand </p>:</td>
                <td> <p> {{ drug.qoh }}</p></td>
              </tr>

              <tr>
                <td> <p> Reorder Point </p>:</td>
                <td> <p> {{ drug.rop }}</p></td>
              </tr>

              <tr>
                <td> <p> Date Of Introduced </p> :</td>
                <td> <p>{{ drug.dointroduced | date }}</p></td>
              </tr>
            </table>

        </div>

      </div>
    </div>
    <div class="left-details">
      <!--      <div class="details">-->
      <!--        <h3> Contact Informations</h3>-->
      <!--        <span> Email : {{ appointment.email }}</span>-->
      <!--        <span> Address : {{ appointment.family.address }}</span>-->
      <!--        <span> mobile : {{ appointment.family.address }}</span>-->
      <!--        <span> Address : {{ appointment.family.address }}</span>-->
      <!--        <span> Address : {{ appointment.family.address }}</span>-->
      <!--      </div>-->
    </div>
    <div class="main-details">
      <div class="when-outer">
        <div class="when">

          <div class="effect-outer">
            <h2>Drug Adverse Effects</h2>
            <div class="effects">
              <p>{{ drug.drugadverseeffects.length == 0  ? "There are no Adverse Effects to show": "" }}</p>
              <div class="effect" *ngFor="let ad of drug.drugadverseeffects;let i = index;">
                <p><span>{{ i + 1 }} ) </span> {{ ad.adverseeffect.name }}</p>
              </div>
            </div>
          </div>

          <div class="effect-outer">
            <h2>Drug Indications</h2>
            <div class="effects">
              <p>{{ drug.drugindications.length == 0  ? "There are no Indications to show": "" }}</p>

              <div class="effect" *ngFor="let ad of drug.drugindications;let i = index;">
                <p><span>{{ i + 1 }} ) </span> {{ ad.indication.name }}</p>
              </div>
            </div>
          </div>


          <div class="effect-outer">
            <h2>Drug Contraindications</h2>
            <div class="effects">
              <p>{{ drug.drugcontraindications.length == 0  ? "There are no Contraindications to show": "" }}</p>
              <div class="effect" *ngFor="let ad of drug.drugcontraindications;let i = index;">
                <p><span>{{ i + 1 }} ) </span> {{ ad.contraindication.name }}</p>
              </div>
            </div>
          </div>

          <!--                  <p>  Name : <span>{{ appointment.family.name }}</span> </p>-->
          <!--                  &lt;!&ndash;          <p>  Doctor Grade :<span> {{   doctor.doctorgrade.name }}</span></p>&ndash;&gt;-->
          <!--                  <p> Relationship :<span> {{   appointment.relationship.name }}</span></p>-->
          <!--                  &lt;!&ndash;          <span > Age {{   doctor.employee.dobirth }}</span>&ndash;&gt;-->
          <!--                  <p> Province :<span> {{ appointment.family.district.province.name }}</span></p>-->
          <!--                  <p> District :<span> {{ appointment.family.district.name }}</span></p>-->
          <!--                  <p> Addresss :<span> {{ appointment.family.address }}</span></p>-->
          <!--                  <p> Mobile :<span> {{ appointment.family.mobile }}</span></p>-->
          <!--                  <p> Land :<span> {{ appointment.family.land }}</span></p>-->
          <!--          <p> Map Location :<span> {{ appointment.gender.name }}</span></p>-->
        </div>

      </div>

    </div>
    <div class="additional-details">

      <!--      <div class="aditional-card">-->
      <!--        <div class="ad-name">Diabetic</div>-->
      <!--        <div class="level"></div>-->
      <!--        <div class="da-degree"> </div>-->
      <!--      </div>-->
      <!--      <div class="aditional-card">-->
      <!--        <div class="ad-name">Alchohol</div>-->
      <!--        <div class="level"></div>-->
      <!--        <div class="da-degree"> </div>-->
      <!--      </div>-->
      <!--      <div class="aditional-card">-->
      <!--        <div class="ad-name">Overweight</div>-->
      <!--        <div class="level"></div>-->
      <!--        <div class="da-degree"> </div>-->
      <!--      </div>-->
      <!--      <div class="aditional-card">-->
      <!--        <div class="ad-name">Diabetic</div>-->
      <!--        <div class="level"></div>-->
      <!--        <div class="da-degree"> </div>-->
      <!--      </div>-->
    </div>

    <div class="btn-section">
      <button mat-raised-button (click)="updateform()">Update</button>
    </div>
  </div>

</div>
