<div class="outer">
  <!--    <mat-card-header>-->
  <div class="backtoview">
    <button mat-raised-button class="btn-p" (click)="backtoview()">
      <mat-icon>arrow_back</mat-icon>
      Back to View
    </button>
  </div>
  <span class="form-title">  {{ updateForm ? 'Update Appointment' : 'Creat a Appointment' }}</span>
  <!--    </mat-card-header>-->
  <div id="clinicform">
    <form [formGroup]="form">
      <mat-grid-list cols="2" rowHeight="80px">

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Select Clinic Type</mat-label>
            <mat-select formControlName="clinictype">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let clinictype of clinictypes" [value]="clinictype">{{ clinictype.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
              <mat-hint color="warn"> Please select a Clinic Type before choose scheduled Clinics </mat-hint>
            <mat-label>Scheduled Clinics</mat-label>
            <mat-select formControlName="clinic">
<!--              <mat-option [value]="null" selected > {{ sclinicisempty ?"OPPs There isn't Schedule clinic for this Clinic type" :"Not Selected" }}</mat-option>-->
              <mat-option [value]="null" selected > Not Selected</mat-option>
              <mat-option *ngFor="let clinic of scheduledclinics" [value]="clinic">{{ clinic.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Patient</mat-label>
            <mat-select formControlName="patient">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let patient of patients" [value]="patient">{{ patient.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Appointment Type</mat-label>
            <mat-select formControlName="appointmenttype">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let appointype of appointmenttypes" [value]="appointype">{{ appointype.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="updateForm">
          <mat-form-field appearance="outline">
            <mat-label>Appointment Status</mat-label>
            <mat-select formControlName="appointmentstatus">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let appointstatus of appointmentstatuses" [value]="appointstatus">{{ appointstatus.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>



        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Employee</mat-label>
            <mat-select formControlName="employee">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let employee of employees" [value]="employee">{{ employee.fullname }}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

<!--        <mat-grid-tile>-->
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Date of Appointmented </mat-label>-->
<!--            <input matInput [matDatepicker]="dateofpublished" formControlName="date">-->
<!--            <mat-datepicker-toggle matIconSuffix [for]="dateofpublished"></mat-datepicker-toggle>-->
<!--            <mat-datepicker #dateofpublished></mat-datepicker>-->
<!--          </mat-form-field>-->
<!--        </mat-grid-tile>-->
    </mat-grid-list>


      <div id="butpanel">
        <div *ngIf="!updateForm">
          <button mat-raised-button (click)="add()">Add</button>
        </div>
        <div *ngIf="updateForm">
          <button mat-raised-button (click)="update()">Update</button>
        </div>
        <button mat-stroked-button (click)="clear()">Clear</button>
      </div>
    </form>
  </div>
</div>
